#projects {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 150px;
}
.projects-headline {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 900px;
}
.projects-title {
  font-family: "Slackey", sans-serif;
  font-size: 50px;
  font-weight: bold;
  color: var(--textColor);
  border-radius: 8px;
}
.projects-icon {
  width: 60px;
  height: 60px;
  color: var(--textColor);
}
.img-proj-background {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.3;
  z-index: -9999;
}
@media (max-width: 399px) {
  .projects-title {
    font-size: 32px;
  }
  .projects-icon {
    width: 35px;
    height: 35px;
  }
}
@media(max-width: 799px) {
  .projects-headline {
    width: 100%;
  }
}
