#about-me-anim {
  display: flex;
  flex: 1;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 150px;
}
.about-me-anim-col-left {
  display: flex;
  height: fit-content;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 900px;
}
.about-me-anim-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
.about-me-anim-title {
  font-family: "Slackey", sans-serif;
  font-size: 40px;
  font-weight: bold;
  color: var(--textColor);
  border-radius: 8px;
}
.about-anim-icon {
  width: 50px;
  height: 50px;
  color: var(--textColor);
}
.about-me-anim-para {
  font-family: "Slackey", sans-serif;
  font-size: 20px;
  color: var(--textColor);
  padding: 1rem;
  text-align: center;
}
.f-1 {
  flex: 1;
}
.f-5 {
  display: flex;
  justify-content: center;
  flex: 5;
}
.img-background-anim {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.1;
  z-index: -9999;
}
@keyframes float {
  0%,
  100% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(20px);
  }
}
.float-anim {
  animation: float 5s ease-in-out infinite;
  animation-timing-function: ease-in-out;
}
.anim-img {
  width: clamp(180px, 300px, 480px);
  height: clamp(180px, 300px, 480px);
  margin: 1rem;
  border-radius: 5%;
  border: 1px solid grey;
  transition: transform 1s ease-in-out;
}
.anim-img:hover {
    transform: scale(1.5);
}
@media (max-width: 799px) {
  .float-anim {
    display: none;
  }
}
@media (max-width: 399px) {
  .about-me-anim-title {
    font-size: 32px;
  }
  .about-anim-icon {
    width: 35px;
    height: 35px;
  }
  .about-me-anim-para {
    font-size: 24px;
  }
}
