#header {
  display: flex;
  flex: 1;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  padding-top: 25px;
  width: 100vw;
  padding-bottom: 2rem;
  background-color: var(--backgroundColor);
  opacity: .8;
}
#header::before {
  content: "";
  background: linear-gradient(to right, #cb2424, #5e50f8);
  width: 100%;
  height: 10px;
  position: absolute;
  bottom: 0;
}
.logo {
  cursor: pointer;
  width: 287px;
  height: 35px;
  font-family: "Rowdies", sans-serif;
  font-size: 28px;
}
.red {
  color: #cb2424;
}
.blue {
  color: #5e50f8;
}
.menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex: 10;
}
.nav-ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.mobile-nav-ul {
  display: none;
  list-style: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flex {
  display: flex;
  animation: showUp 2s 1;
}
@keyframes showUp {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.none {
  display: none;
}
.mobile-menu-icon {
  display: none;
  color: var(--textColor);
}
.nav-ul-lis {
  cursor: pointer;
  margin-right: 3em;
  color: var(--textColorOut);
  font-family: "Rowdies", sans-serif;
  font-size: 28px;
}
.active {
  color: var(--textColor);
}
.hire-me-btn {
  color: var(--textColor);
  font-family: "Rowdies", sans-serif;
  font-size: 28px;
  background-color: #2da331;
  border-radius: 8px;
  cursor: pointer;
  padding: 5px 10px;
  border: 0.1px solid var(--textColor);
}
.hire-me-btn:hover {
  background-color: var(--hireMeHover);
}
.tools {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.lamp {
  color: var(--textColor);
  font-size: 32px;
  cursor: pointer;
  margin: 1px;
}
.lamp:hover {
  color: var(--textColorOut);
}
.lang {
  margin: 1px;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  border-radius: 8px;
  cursor: pointer;
  background-color: var(--backgroundColor);
  color: var(--textColor);
  text-transform: uppercase;
}
.lang:hover {
  background-color: var(--textColorOut);
}
.mobile-nav {
  display: none;
  width: 100%;
}
.mobile-box {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}
.mobile-tools {
  display: none;
  align-items: center;
  justify-content: space-around;
}
@media screen and (max-width: 501px) {
  .hire-me-btn,
  .tools {
    display: none;
  }
  .logo {
    display: flex;
    flex: 1;
    justify-content: center;
  }
  .mobile-tools {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
}
@media screen and (max-width: 1299px) {
  #header {
    flex-direction: column;
  }
  .nav-ul {
    display: none;
  }
  .mobile-nav {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .mobile-box {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .mobile-menu-icon {
    display: block;
    cursor: pointer;
  }
}
