#about-me {
  display: flex;
  flex: 1;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 50vh;
}
@media (max-width: 1299px) {
  #about-me {
    margin-top: 1vh;
  }
}
.about-me-col-left {
  display: flex;
  height: fit-content;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 900px;
}
.about-me-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
.about-me-title {
  font-family: "Slackey", sans-serif;
  font-size: 50px;
  font-weight: bold;
  color: var(--textColor);
  border-radius: 8px;
}
.about-icon {
  width: 60px;
  height: 60px;
  color: var(--textColor);
}
.about-me-para {
  font-family: "Slackey", sans-serif;
  font-size: 30px;
  color: var(--textColor);
  padding: 1rem;
  text-align: center;
}
.f-1 {
  flex: 1;
}
.f-5 {
  display: flex;
  justify-content: center;
  flex: 5;
}
@keyframes float {
  0%,
  100% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(20px);
  }
}
.float {
  animation: float 5s ease-in-out infinite;
  animation-timing-function: ease-in-out;
}
.img-background {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.1;
  z-index: -9999;
}
@media (max-width: 799px) {
  .float {
    display: none;
  }
}
@media (max-width: 399px) {
  .about-me-title {
    font-size: 32px;
  }
  .about-icon {
    width: 35px;
    height: 35px;
  }
  .about-me-para {
    font-size: 24px;
  }
}
